.btnList{
	display: flex;
	justify-content: center;
	align-items: center;

	flex-direction: column;

	flex-basis: 65px;

}

.btnList .btn{
	width: 35px;
	height: 35px;

	border-width: 0.8px;
	border-radius: 8px;

	margin-top: 12px;
	margin-bottom: 12px;
}

.btnList .btn:hover{
	cursor: pointer;
}
